.header_container {
    min-width: 1400px;
    margin: 45px 93px 0;
    display: flex;
    justify-content: space-between;
}

.nav_menu {
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

}

.right_header {
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_search{
    margin: auto;
    width: 310px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #EDEDED;
}

.nav_input {
    margin-left: 15px;
    border: none;
    background-color: #EDEDED;
    font-size: 15px;
    outline: none;

}

.nav_input::placeholder {
   color: #C2C3CB;
}