.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px;
    border-radius: 11px;
    min-width: 185px;
    background-color: #FFFFFF;
}
.picture_container {
    position: relative;
}

.picture_container img {
    width: 184px;
    height: 184px;
    border-radius: 11px;
}

.about_picture {
    display: flex;
    flex-direction: column;
}

.picture_date {
    position: absolute;
    top: 20px;
    right: 17px;


    padding: 6.84px 10.26px 6.84px 10.26px;

    background: linear-gradient(0deg, rgba(28, 29, 32, 0.35), rgba(28, 29, 32, 0.35)),
        linear-gradient(0deg, rgba(28, 29, 32, 0.08), rgba(28, 29, 32, 0.08));
    border-radius: 7px;
    border: 0.86px solid #1C1D2014;
    /* box-shadow: 0px 3.420224905014038px 10.260676383972168px 0px #1C1D2014; */
}

.picture_date p {
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
}

.bid_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_picture h2 {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 21.5px;
}

.about_picture p {
    font-size: 10px;
    line-height: 15.39px;
    color: #94A3B8;
}

.current_bid p {
    margin-bottom: 3px;
}