* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
 
  /* margin-top: 45px; */
  /* margin-left: 93px; */
  
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9F9;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
