.active_container {
    margin-top: 100px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.btns_container {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
}

.active_bar {
    display: flex;
    flex-direction: column;
    gap: 42px;
}